body {
  background-image: url(../images/background1.jpg);
  font-family: myFont;
  font-size: 30px;
}
@font-face {
  font-family: myFont;
  src: url(../images/PokemonSolid.ttf);
}

img {
  width: 100px;
}
#ballDiv {
  height: 250px;
}
@media screen and (max-width: 640px) {
  #textRow {
    font-size: 20px;
  }
  img {
    padding-left: 0px;
  }
}
